<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion Événements{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <header>
        {% include 'partials/_menu.html.twig' %}

        <h1>Mon Application Événements</h1>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mon App</p>
    </footer>
</body>
</html>

